* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

header h1 {
    color: #fff;
}

#form h2 {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
}

#form {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(224, 218, 210);
}

.form-campo {
    margin: 20px;
}

#form label {
    font-size: larger;
    font-weight: bold;
    text-transform: uppercase;
}

#form input {
    width: 400px;
    height: 30px;
    display: block;
    justify-content: center;
    align-items: center;
    font-size: medium;
}

.form-campo > #adress {
    height: 80px;
}

.form-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    cursor: pointer;
    font-size: 18px;
    font-size: bold;
    padding: 4px;
    margin: 20px;
    width: 160px;
    border-radius: 4px;
    outline: none;
}

#form-table {
    background-color: blanchedalmond;
}

table {
    width: 1500px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-spacing: 25px;
    margin: 0px auto;
    font-size: 20px;
}

table th {
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 20px;
}

footer {
    background-color: black;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.campoErrado {
    color: red;
}